

<!-- Zone de recherche des ingrédients par le nom -->
<div class="rechercheIngredient">
    <form action="" #search='ngForm' (ngSubmit)="searchIngredient(search.value)">
        <div class="centre">
            <div class="gridRechercheIngredients boxShadow">
                <div></div>
                <input type="text" class="" name="nomIngredient" ngModel="" placeholder="Je cherche un ingrédient ..."  (change)="searchIngredient(search.value)">
                <button> <img src="assets/img/search.PNG" alt="" width="35px" height="35px"></button>
            </div>
        </div>
    </form>
</div>  


<!-- Affichage des différents ingrédients (all / résultat de la recherche) -->


<div class="zoneListeIngredient">
    <div class="centre">
        <div class="gridListeIngredient borderRad50 bgcolorGrey boxShadow ">
            <div class="gridListeIngredientSup borderBWhite">
                <div class="centrerVerticalement titreTaille">
                    <h2>Liste des ingrédients</h2>
                </div>
                <div>
                </div>
                <div class="btnTaille centrerVerticalement">
                    <button type="button" class="borderRad50 btnClassique boxShadow bgcolorBlack">
                        Add une recette
                    </button>
                </div>
            </div>
            <div class="gridListeIngredientCenter">
                <div class="deca"><h4>Nom</h4></div>
                <div><h4>Nutriscore</h4> </div>
                <div><h4>NovaScore</h4> </div>
                <div><h4>kcal/100g</h4> </div>
                <div><h4></h4> </div>   
            </div>
            
            <div class="gridListeIngredientInf" *ngFor="let i of ingredients">
                <div class=" deca2"><h5>{{i.nomIngredient}}</h5></div>
                <div><h5>{{i.nutriscore}}</h5> </div>
                <div><h5>{{i.novaScore}}</h5> </div>
                <div><h5>{{i.energie}}</h5> </div>
                <div> 
                    <button class="btnInfoIngredient bgcolorGrey" type="button" (click)="infoRecette(i)">
                        <img src="../../assets/img/param.png" alt="infoIngredient" width="100%" height="100%">
                    </button>
                </div>   
                <div></div>
            </div>
            <div class="visuel">

            </div>

        </div>
    </div>
</div>


















