
<div class="RechercheRecette">
    <form action="" #search="ngForm" (ngSubmit)="rechercheRecette(search.value)">
        <div class="centre">
            <div class="gridRecherche boxShadow">
                <div class="gridRechercheSup">
                    <div class="centrerVerticalement">
                        <button class="boutonRechercheSup2">
                            <img class="imgRechercheSup" src="assets/img/param.png" alt="button_parametre">
                        </button>
                    </div>
                    <div class="centrerVerticalement">
                        <div class="RechercheNomRecette">
                            <input type="text" class="RechercheNomInput" name="nomRecette" ngModel="" placeholder="Je cherche une recette" (change)="rechercheRecette(search.value)">
                        </div>
                    </div>
                    <div class="centrerVerticalement">
                        <button class="boutonRechercheSup2">
                            <img class="imgRechercheSup" src="assets/img/search.PNG" alt="button_parametre">
                        </button>
                    </div>
                </div>
                <div class="gridRechercheCenter">
                    <div class="centrerVerticalement">
                        <label class="labelRechercheRecette">Type &nbsp;&nbsp;&nbsp;&nbsp; </label>
                        <select class="selectRechercheRecette" name="type" ngModel="" (change)="rechercheRecette(search.value)">
                            <option value=""></option>
                            <option value="Aperitifs">Aperitifs</option>
                            <option value="Entrees">Entrées</option>
                            <option value="Plats">Plats</option>
                            <option value="Desserts">Desserts</option>
                            <option value="Boissons">Boissons</option>
                            <option value="Sauces">Sauces</option>
                        </select>
                    </div>
                    <div class="centrerVerticalement">
                        <label class="labelRechercheRecette" for=""> Difficulté &nbsp;&nbsp; </label>
                        <select class="selectRechercheRecette" name="difficulte" ngModel="" id="difficulte" (change)="rechercheRecette(search.value)">
                            <option value=""></option>
                            <option value="Facile">Facile</option>
                            <option value="Moyenne">Moyenne</option>
                            <option value="Difficile">Difficile</option>
                        </select>
                    </div>
                </div>
                <div class="gridRechercheInf">
                    <div class="centrerVerticalement">
                        <label class="labelRechercheRecette">Cal max </label>
                        <select class="selectRechercheRecette" name="calorie" ngModel="" (change)="rechercheRecette(search.value)">
                            <option value=0></option>
                            <option value=100>100 kcal</option>
                            <option value=200>200 kcal</option>
                            <option value=300>300 kcal</option>
                            <option value=400>400 kcal</option>
                            <option value=500>500 kcal</option>
                        </select>
                    </div>
                    <div class="centrerVerticalement">
                        <label class="labelRechercheRecette" for="">Temps max </label>
                        <select class="selectRechercheRecette" name="temps" ngModel="" id="difficulte" (change)="rechercheRecette(search.value)">
                            <option value=0></option>
                            <option value=15>15 minutes</option>
                            <option value=30>30 minutes</option>
                            <option value=45>45 minutes</option>
                            <option value=60>60 minutes</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="centre">
    <div class="gridTitre">
        <div>
            <h4>Nos recettes :</h4>
        </div>
        <div>
            <button type="button" class="btnAjoutRecette btnClassique boxShadow bgcolorBlack">Add une recette</button>
        </div>
    </div>
</div>

<div class="centre">
    <div class="gridListeRecette">
        <div class="boxRecette boxShadow" *ngFor="let r of recettes, let i = index">
            <div class="gridRecette">
                <div class="">
                    <img class="photoRecette" src="{{r.photoRecette}}" alt="{{r.nomRecette}}">
                </div>
                <div></div>
                <div class="centrerVerticalement">
                    <button (click)="infoRecette(r)" class="btnClassique bgcolorBlack">
                        <h5 class="majPremiereLettre">{{r.nomRecette}}</h5>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>






